* {
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 1rem;
  line-height: 25px;
  
  height: 100vh;
  
  background-image:  linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(http://1.bp.blogspot.com/-FEzjqdyX3C4/TkbPy3QRwmI/AAAAAAAAAAU/70noI0pmC1I/s1600/black-and-white-cigarette-classic-girl-smoking-vintage-Favim.com-65043_large.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  

}

.hero-section {
  display: block;
  background-color: hsl(136deg, 0%, 0%, 30%);
  text-align: center;
  flex-basis: 50%;
  border: #ffe4c8 solid 1px;
  padding: 3em;
 }

h1 {
  font-family: 'IM Fell Double Pica', serif;
  color: #ffe4c8;
  text-shadow: 2px 2px black;
  margin-bottom: 1em; 
 
}

p {
  font-family: 'IM Fell Double Pica', serif;
  color: #ffe4c8;
  text-shadow: 3px 2px black;
  font-size: 25px;
  margin-bottom: 3em;
  line-height: 1.5em;
  
}

a {
  text-decoration: none;
}

.button1 {
  color: #ffe4c8;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px black;
  
  margin: auto;
  
  border: solid 2px #ffe4c8;
  border-radius: 4px;
  padding: 10px 20px;
  
}


.button1:hover {
  background-color: #be6100;
  color: white;
  transition-duration: 220ms;
}

.button1:active {
   opacity: 0.6;
}

@media all and (max-width: 600px)  {
  h1{
    font-size: 1.5rem;
    line-height: 1.5;
  }
  
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
 
}